<div id="page-login">
  <div class="login-bg"></div>
  <div class="login-container">
    <div class="login-content">
      <div class="login-logo"></div>
      <h2>Forgot your password?</h2>

      
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= devise_error_messages! %>


        <div class="login-fields">

        <div>
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true %>
        </div>

        <div>
          <%= f.submit "Send me reset password instructions", :class => 'btn-login'%>
          </div>
      </div>
      <% end %>
        <div class="login-sub">

        <%= render "devise/shared/links" %>
      </div>
    </div>

  </div>



</div>